<header id="rs-header" class="rs-header">
    <!-- Header Top Start -->
    <div class="rs-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="header-contact">
                        <div id="info-details" class="widget-text">
                            <i class="glyph-icon flaticon-email"></i>
                            <div class="info-text">
                                <a href="mailto:info@domain.com">
                                    <span>Mail Us</span>
                                    info@RedirectMall.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="logo-area text-center">
                        <a href="/"><img src="/img/captal.png" alt="logo" style="max-height: 50px; width: auto;"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="header-contact pull-right">
                       <div class="logo-area text-center">
                        <a href="/"><img src="/img/wallstreet.png" alt="logo" style="max-height: 50px; width: auto;"></a>
                    </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
    <!-- Header Top End -->

    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="main-menu">
                <div class="row relative">
                    <div class="col-sm-12" style="position: relative;">
                        <a class="rs-menu-toggle"><i class="fa fa-bars"></i> Menu</a>
                        <nav class="rs-menu">
                            <ul class="nav-menu">
                                <!-- Home -->
                                <li class="current-menu-item"><a href="/">Home</a></li>

                                <!-- MEGA MENU: All requested items except Home, Redirect Mall, Contact Us -->
                                <li class="rs-mega-menu mega-rs">
                                    <a href="#">Explore</a>
                                    <ul class="mega-menu">
                                        <li class="mega-menu-container">
                                            <div class="mega-menu-innner">
                                                <div class="single-magemenu">
                                               
                                                    <ul class="sub-menu">
                                                        <li><a href="/about">About Compassionate Capitalism</a></li>
                                                        <li><a href="/features">7 Core Features of Compassionate Capitalism</a></li>
                                                        <li><a href="/advances">5 Significant Advances to Capitalism by Compassionate Capitalism</a></li>
                                                        <li><a href="/mind">The Mind of King Charles N. Lambert</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-magemenu">
                                                  
                                                    <ul class="sub-menu">
                                                        <li><a href="/rankings">Compassionate Capitalism Development Rankings</a></li>
                                                        <li><a href="/investment">Compassionate Capitalism Investment Points</a></li>
                                                        <li><a href="/channels">28 Development Channels</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Redirect Mall -->
                                <li><a href="/redirect-mall">Redirect Mall</a></li>

                                <!-- Contact Us -->
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                        <div class="right-bar-icon rs-offcanvas-link text-right">
                            <!-- Beautiful Responsive Search Bar -->
                            
                            <a id="nav-expander" class="nav-expander fixed">
                                <i class="fa fa-bars fa-lg white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</header>

