<header id="rs-header" class="rs-header">
    <!-- Header Top Start -->
    <div class="rs-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo-area text-center">
                        <a href="/"><img src="/img/business_empowerment.jpg" alt="logo" style="max-height: 70px; width: auto;"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="logo-area text-center">
                        <a href="/"><img src="/img/Africa_Inter-trade_Incorporations.jpeg" alt="logo" style="max-height: 70px; width: auto;"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="header-contact pull-right">
                        <div class="logo-area text-center">
                            <a href="/"><img src="/img/wallstreet.png" alt="logo" style="max-height: 70px; width: auto;"></a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
    <!-- Header Top End -->

    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="main-menu">
                <div class="row relative">
                    <div class="col-sm-12" style="position: relative;">
                        <a class="rs-menu-toggle"><i class="fa fa-bars"></i> Menu</a>
                       <nav class="rs-menu">
                            <ul class="nav-menu">
                                <!-- Home -->
                                <li class="current-menu-item"><a href="/">Home</a></li>
                                
                                <!-- About Us Mega Menu -->
                                <li class="rs-mega-menu mega-rs">
                                    <a href="#">About Us</a>
                                    <ul class="mega-menu">
                                        <li class="mega-menu-container">
                                            <div class="mega-menu-innner">
                                                <div class="single-magemenu">
                                                    <h4>Core Philosophy</h4>
                                                    <ul class="sub-menu">
                                                        <li><a href="/about">About Compassionate Capitalism</a></li>
                                                        <li><a href="/features">7 Core Features of Compassionate Capitalism</a></li>
                                                        <li><a href="/advances">5 Significant Advances to Capitalism</a></li>
                                                        <li><a href="/mind">The Mind of King Charles N. Lambert</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-magemenu">
                                                    <h4>Development & Rankings</h4>
                                                    <ul class="sub-menu">
                                                        <li><a href="/rankings">Compassionate Capitalism Development Rankings</a></li>
                                                        <li><a href="/investment">Compassionate Capitalism Investment Points</a></li>
                                                        <li><a href="/channels">28 Development Channels</a></li>
                                                        <li><a href="/terms">UPAP Terms & Conditions</a></li>
                                                        <li><a href="/user-terms">CC Investments App User Terms</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Services Menu with Dropdown -->
                                <li class="menu-item-has-children">
                                    <a href="/services">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="/services/investment">Investment Advisory</a></li>
                                        <li><a href="/services/consulting">Business Consulting</a></li>
                                        <li><a href="/services/training">Training & Development</a></li>
                                        <li><a href="/services/research">Market Research</a></li>
                                    </ul>
                                </li>

                                <!-- Blog Menu with Dropdown -->
                                <li class="menu-item-has-children">
                                    <a href="/blog">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="/blog/category/news">News & Updates</a></li>
                                        <li><a href="/blog/category/articles">Articles</a></li>
                                        <li><a href="/blog/category/case-studies">Case Studies</a></li>
                                        <li><a href="/blog/category/press">Press Releases</a></li>
                                    </ul>
                                </li>

                                <!-- Contact Us -->
                                <li><a href="/contact">Contact Us</a></li>

                                <!-- Mother Site Link - Special Menu Item -->
                                <li class="mother-site-menu">
                                    <a href="https://capitalism-master-frontend.onrender.com/" target="_self" class="mother-site-link">
                                        <i class="fa fa-globe"></i> Main Site
                                        <span class="external-icon"><i class="fa fa-external-link"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="right-bar-icon rs-offcanvas-link text-right">
                            <a id="nav-expander" class="nav-expander fixed">
                                <i class="fa fa-bars fa-lg white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</header>

<style>
    /* Mega Menu Styling for Sectors */
    .single-magemenu h4 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #DC0028;
        border-left: 3px solid #DC0028;
        padding-left: 12px;
    }

    /* Ensure mega menu columns have proper width */
    .mega-menu-innner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    .single-magemenu {
        flex: 1;
        min-width: 200px;
    }

    .single-magemenu ul.sub-menu li {
        margin-bottom: 10px;
    }

    .single-magemenu ul.sub-menu li a {
        font-size: 14px;
        color: #505050;
        transition: all 0.3s ease;
        display: block;
        padding: 5px 0;
    }

    .single-magemenu ul.sub-menu li a:hover {
        color: #DC0028;
        transform: translateX(5px);
    }

    /* Navigation menu styling */
    .nav-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu > li {
        position: relative;
    }

    .nav-menu > li > a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .nav-menu > li > a:hover,
    .nav-menu > li.current-menu-item > a {
        color: #DC0028;
    }

    /* Responsive adjustments */
    @media (max-width: 992px) {
        .mega-menu-innner {
            flex-direction: column;
            gap: 20px;
        }
        
        .single-magemenu {
            width: 100%;
        }
        
        .single-magemenu h4 {
            margin-top: 15px;
        }
        
        .nav-menu {
            flex-direction: column;
        }
    }
</style>