<!-- 5 Significant Advances to Capitalism -->
<section class="page-content sec-spacer">
    <div class="container">
        <div class="row">
            <div class="sec-title-2">
                <h2 class="mb-30">5 Significant Advances to Capitalism by Compassionate Capitalism</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper">
                    <p>Content for the 5 Significant Advances will be added here.</p>
                </div>
            </div>
        </div>
    </div>
</section>