<!-- 7 Core Features of Compassionate Capitalism -->
<section class="page-content sec-spacer">
    <div class="container">
        <div class="row">
            <div class="sec-title-2">
                <h2 class="mb-30">7 Core Features of Compassionate Capitalism</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper">
                    <p>Content for the 7 Core Features of Compassionate Capitalism will be added here.</p>
                </div>
            </div>
        </div>
    </div>
</section>